$backgroundColour : #556270;
$menuBackgroundColour: #212121;

// #CD7A34
// #CC333F
// #F0371A
// #901D0A

$buzzwordTileColourDefault: #4ECDC4;
$buzzwordTileColourFound: #C7F464;
$buzzwordTileColourConfirmed: #C44D58;


$buzzwordTileTextColourDefault: #ffffff;
$buzzwordTileTextColourFound: #C44D58;
$buzzwordTileTextColourConfirmed: #C0DBAB;


$normaTextColour: #D4D7D0;

$decoTextColour: #D4D7D0;
// #D4D7D0;
// #737466

$menuButtonColour: #212121;
$menuButtonTextColour: #D4D7D0;

$activeButtonColour: #D4D7D0;
$activeButtonTextColour: #212121;

$activeButtonColour: #556270;
$activeButtonTextColour: #D4D7D0;



$deactivatedButtonColour : #556270;
$deactivatedButtonTextColour : #D4D7D0;


$victoryBackgroundColour: #556270;
$victoryTextColour: #D4D7D0;
$victoryWinnerBackgroundColour: #D4D7D0;
$victoryWinnerTextColour: #556270;


@font-face {
font-family: arkhip;
src: url("../fonts/Arkhip_font.otf") format("opentype");
}






html, body {
	width: 100%;
	height: 100%;
	margin : 0;
	font-family: 'arkhip';
	font-size: 6vw;
	font-variant: small-caps;
}

body {
	background-color: $backgroundColour;
	color: $normaTextColour;
}

.menu {
	background-color: $menuBackgroundColour;
	text-align: center;
	overflow: hidden;
	ul {
		list-style-type: none;
		// display:inline;
		// margin: auto;
		padding: 0;
		margin:0;
    	// overflow: hidden;
    	width: 90%;
	}
	li {
		width: 40%;
		float: left;
	}
	a {
		display: block;
		background-color: $menuButtonColour;
		border-radius: 0vw;
		text-decoration: none;
		color: $menuButtonTextColour;
		padding: 1vw 0 2vw;
		margin: 1vw;
		border: 0.1vw solid #D4D7D0;
	}

	.logoplaceholder {
		padding: 0vw;
		margin: 1vw;
		font-size: 3vw;
		// float:right;
	}
	.logo {
		position:absolute;
		z-index:1000;
		padding: 1vw;
		margin: 1vw;
		// font-size: 3vw;
		background-color: menuButtonColour;
		// float:right;
		right:0;
		top:0;
		overflow: hidden;
		img {
			width: 19vw;
		}
	}
}












.board {
	margin-top: 5vw;
	width:100%;
	td{
		padding:1vw;
	}
}



.buzzword {
	border-radius: 1vw;

	background-color: $buzzwordTileColourDefault;
	color: $buzzwordTileTextColourDefault;
	width: 25vw;
	height: 25vw;
	display: table;
	font-size: 3.5vw;
	-webkit-box-shadow: 1vw 1vw 2vw -0.2vw rgba(0,0,0,0.75);
	margin: auto;
	margin-top: 5vw;
	div {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
}
.found {
	background-color: $buzzwordTileColourFound;
	color: $buzzwordTileTextColourFound;
}

.confirmed {
	background-color: $buzzwordTileColourConfirmed;
	color: $buzzwordTileTextColourConfirmed;
}

.bingo {
	margin: 5vw 20vw 0 ;
	background-color: $deactivatedButtonColour;
	// height: 12vw;
	text-align: center;
	color: $deactivatedButtonTextColour;
	// border-radius: 1vw;
	div {
		padding: 4vw;
	}
	display: none;
}

.enabled {
	display: block;
	background-color: $activeButtonColour;
	border: 0.1vw solid $activeButtonTextColour;
	color: $activeButtonTextColour;
	div:after {
		content: ' *'
	}
	div:before {
		content: '* '
	}
}




















// ========= victory list

.victoryList{
	margin-top: 10vw;
	div {
		text-align: center;
	}
}

.victories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}




.victory {
	background-color: $victoryBackgroundColour;
	color: $victoryTextColour;
	margin:auto;
	width: 80vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
	font-size: 0.8em;

	.name {
    	display: inline-block;
		padding: 2vw 3vw;
	}
	.time {
    	display: inline-block;
		padding: 2vw 3vw;
		float:right;
	}
}

.ownVictory {
	font-style: oblique;
	background-color: $victoryWinnerBackgroundColour;
	color: $victoryWinnerTextColour;
}















$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background: #121010;




@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.container{
  // background:$screen-background;
  width:80vw;
  height:35vw;
  // margin-top:10px;
  // position:absolute;
  overflow:hidden;
  // font-family: courier;
  color: $decoTextColour;
  // top:10vw;
  // border:2px solid #666;
  z-index: -1;
  margin: auto;
  margin-top: 40vw;

  p {
  	text-align: center;
	// padding: 25vw 0 10vw;
  }

// flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 0px, 0px 100%;
    pointer-events:none;
  }


}

.container{
  //animation:flicker 0.15s infinite;
}



.logoutForm {
	margin: 35vw 20vw 0 ;
			text-align: center;

	.buttonForm {
		margin: 20vw 15vw 0 ;
		color: $activeButtonTextColour;
		background-color: $activeButtonColour;
		// height: 16vw;
		text-align: center;
		// border-radius: 1vw;
		border: 0.1vw solid $activeButtonTextColour;
		div {
			padding: 2vw 0 2vw;
		}
	}
}



.loginForm {
	
	.inputForm {
		padding: 35vw 0 10vw;
		text-align: center;
		div {
			padding: 2vw 0;
		}
		input {
			font-family: 'arkhip';
			font-variant: small-caps;

			color: $normaTextColour;
			background-color: $backgroundColour;
			font-size: 6vw;

			text-align: center;
		}
	}

	.buttonForm {
		margin: 5vw 35vw 0 ;
		color: $activeButtonTextColour;
		background-color: $activeButtonColour;
		text-align: center;
		border: 0.1vw solid $activeButtonTextColour;
		div {
			padding: 2vw 0 2vw;
		}
	}
}


@keyframes turn-on{
  0%{
    transform:scale(1.3,0.6) translate3d(0,100%,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:0;
  }
  
  11%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(0) brightness(0) ;
    filter:contrast(0) brightness(0);
    opacity:0;
  }
  
  100%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(1) brightness(1.2) saturate(1.3);
    filter:contrast(1) brightness(1.2) saturate(1.3);
    opacity:1;
  }
}

.screen{
  width:100%;
  height:100%;
  border:none;
}

.container>.screen{
  // animation: turn-on 2s linear;
  // animation-fill-mode:forwards;
}

@keyframes overlay-anim{
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  100%{
    visibility:hidden;
  }
}

.overlay{
  color:#00FF00;
  position:absolute;
  // top:20px;
  // left:20px;
  font-size:60px;
  //text-shadow:2px 2px black,-2px -2px black, -2px 2px black, 2px -2px black;
  visibility:hidden;
  pointer-events:none;
}

.container .overlay{
  // animation:overlay-anim 2s linear;
  // animation-fill-mode:forwards;
}


















.tada{
  -webkit-animation: tadaFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes tadaFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}




.wobble{
  -webkit-animation: wobbleFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes wobbleFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -webkit-transform:  translate(-25px,0px)  rotate(-5deg) ;
  }
  30% {
    -webkit-transform:  translate(20px,0px)  rotate(3deg) ;
  }
  45% {
    -webkit-transform:  translate(-15px,0px)  rotate(-3deg) ;
  }
  60% {
    -webkit-transform:  translate(10px,0px)  rotate(2deg) ;
  }
  75% {
    -webkit-transform:  translate(-5px,0px)  rotate(-1deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}




// .rotoshake{
//   -webkit-animation: rotoshakeFrames linear 10s;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-transform-origin: 50% 50%;
// }

// @-webkit-keyframes rotoshakeFrames {
//   0% {
//     -webkit-transform: translate(0px,0px) rotate(0deg) scaleX(1.00) ;
//   }
//   90% {
//     -webkit-transform: translate(0px,0px) rotate(0deg) scaleX(1.00) ;
//   }
//   95% {
//     -webkit-transform: translate(0px,0px) rotate(180deg) scaleX(-1.00) ;
//   }
//   100% {
//     -webkit-transform: translate(0px,0px) rotate(360deg) scaleX(1.00) ;
//   }
// }

// $petalSize: 100px;
// $petalThickness: ($petalSize * 0.07);
// $petalColour: #C43200;
// $spinSpeed: .5s;

// .petals li{
//     position: absolute;
  
//     height: $petalSize;
//     width: $petalSize;

//     border: $petalThickness solid $petalColour;
//     border-radius: 50%;
  
//     animation: $spinSpeed infinites alternate ease-in-out;
// }

// // collection of positions
// $position:(
//     translate($petalSize / 3, 0),
//     translate(0, $petalSize / 6),
//     translate($petalSize / 3, $petalSize / 3)
//   );

// // loop through petals
// @for $i from 1 to length($position) + 1{
  
//   .petals li:nth-child(#{$i}){
//     transform: nth($position, $i);
//     animation-name: petal-#{$i};
//   }

//   // animate petal to previous position
//   $j: $i - 1;
//   @if $j == 0 { $j: 3; } // loop round array

//   // create animation for petal
//   @keyframes petal-#{$i}{ to{ transform: nth($position, $j) } }

// }